*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  font-family: "Diphylleia", serif;
  font-weight: 400;
  font-style: normal;
}

html {
  visibility: visible;
  opacity: 1;
}

body {
  background: url(./starter-code/assets/home/background-home-mobile.jpg)
    no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6rem 1fr;
}

.header_navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.menu,
.menu_activator,
.logo {
  height: 2.5rem;
  width: 2.5rem;
}

.menu_activator_image {
  color: black;
  background-color: black;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_container {
  height: 100%;
  display: grid;
  grid-template-rows: 0.9fr 1.1fr;
}

.main_sections_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main_section_text_items {
  text-align: center;
}

.item1 {
  color: #d0d6f9;
  font-size: 1.5rem;
}

.item2 {
  color: #ffffff;
  font-size: 5rem;
}

.item3 {
  color: #d0d6f9;
  font-size: 1.3rem;
}

.main_sections_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main_sections_button_circule {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
  font-size: 2rem;
  transition: 0.3s ease;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    outline: 5rem solid #ffffff1e;
  }
}

a {
  text-decoration: none;
}

.main_sections_button_link {
  color: #000;
}

.aside {
  position: absolute;
  height: 100%;
  width: 70%;
  right: 0;
  backdrop-filter: blur(2rem);
  display: none;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0rem 2rem;
}

.clouse_aside {
  align-self: flex-end;
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 5rem;
  cursor: pointer;
  margin-top: 28px;
}

.clouse_aside_image {
  width: 100%;
  height: 100%;
}

.aside_links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 15rem;
  width: 100%;
}

.aside_link {
  color: #ffffff;
  font-size: 1.3rem;
  width: 100%;
  transition: 0.3s ease;

  &:hover {
    border-right: 3px solid #ffffff71;
  }
}

.active{
  border-right: 3px solid #ffffff71;
}

.transition{
  display: flex;
  animation: transitionAside 1s ease-in-out forwards;
}

.transition2{
  animation: transitionAside2 1s ease-in-out forwards;
}

@keyframes transitionAside {
  0%{
    transform: translateX(100%);  
  }

  100%{
    transform: translateX(0%);  
  }
}

@keyframes transitionAside2 {
  0%{
    transform: translateX(0%);  
  }

  99%{
    transform: translateX(100%);  
  }

  100%{
    display: none;
  }
}