body {
  background: url(./assets/destination/background-destination-mobile.jpg)
    no-repeat;
  background-position: center;
  background-size: cover;
}

.main_container {
  grid-template-rows: 5rem 1fr;
  justify-items: center;
}

.page_title {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 1.3rem;
  text-transform: capitalize;
}

.title_span {
  position: relative;
  left: -1rem;
  opacity: 0.25;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image_container {
  width: 11rem;
  height: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.moon_image {
  height: 100%;
  width: 100%;
}

.main_explications {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.planets_links_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}

.planet_links {
  background-color: transparent;
  color: #d0d6f9;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.activePlanets {
  border-bottom: 3px solid #ffffff;
  color: #fff;
}

.main_explications_text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.text1 {
  color: #fff;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.text2 {
  color: #d0d6f9;
  font-size: 1rem;
  text-align: center;
}

.line {
  width: 100%;
  margin: 2rem 0;
  height: 0.1px;
  background-color: #979797;
}

.main_statics {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.containers_statics {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statics_paragraph1 {
  color: #d0d6f9;
  font-size: 1.3rem;
}

.statics_paragraph2 {
  color: #fff;
  font-size: 3rem;
}

.planets_hover {
  animation: borderTransitionPlanets 0.3s ease-in forwards;
}

.planets_out {
  animation: borderTransitionOutPlanets 0.3s ease-in forwards;
}

@keyframes borderTransitionPlanets {
  from {
    color: #d0d6f9;
    border-bottom: 3px solid #d0d6f900;
  }

  to {
    color: #fff;
    border-bottom: 3px solid #d0d6f9;
  }
}

@keyframes borderTransitionOutPlanets {
  from {
    color: #fff;
    border-bottom: 3px solid #d0d6f9;
  }

  to {
    color: #d0d6f9;
    border-bottom: 3px solid #d0d6f900;
  }
}
