body {
  background: url(./assets/technology/background-technology-mobile.jpg)
    no-repeat;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}

.main_sub_container {
  display: grid;
  grid-template-rows: 20rem 1fr;
  justify-items: center;
  gap: 3rem;
}

.main_image {
  width: 118%;
  height: 100%;
}

.main_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 14rem;
  margin-bottom: 2rem;
}

.button {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 50%;
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #7e7e7e;
  font-size: 1.5rem;
  cursor: pointer;
}

.active_technology {
  background-color: #ffffff;
  border: 2px solid #ffffff;
  color: #000;
}

.tech_hover {
  animation: borderTransitionTech 0.3s ease-in forwards;
}

.tech_out {
  animation: borderTransitionOutTech 0.3s ease-in forwards;
}

@keyframes borderTransitionTech {
  from {
    border: 2px solid #7e7e7e;
  }

  to {
    border: 2px solid #ffffff;
  }
}

@keyframes borderTransitionOutTech {
  from {
    border: 2px solid #ffffff;
  }

  to {
    border: 2px solid #7e7e7e;
  }
}

@media (min-width: 768px) {
  body {
    background: url(./assets/technology/background-technology-tablet.jpg)
      no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main_sub_container{
    grid-template-rows: 50rem 1fr;
  }

  .main_image{
    object-fit: cover;
    width:129%
  }
}

@media (min-width: 1440px) {
  body {
    background: url(./assets/technology/background-technology-desktop.jpg)
      no-repeat;
    background-position: center;
    background-size: cover;
  }

  .main_sub_container{
    grid-template-rows: none;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }

  .main_image{
    order: 2;
  }

  .main_text{
    order: 1;
    flex-direction: row;
    gap: 3rem
    ;
  }

  .main_image{
    object-fit: contain;
    width:100%;
    box-shadow: 3px 3px 15px rgba(255, 255, 255, 0.685);
    border-radius: 10px;
  }

  .buttons_container{
    flex-direction: column;
    width: auto;
    height: 14rem;
    margin: 0;
  }
}
